
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-image: linear-gradient(180deg, rgba(250, 169, 47, 0.75) 10%, rgb(158, 122, 24) 65%);

}

.sticky-image img {
    width: 100%;
    height: auto; 
  }
  
  .sticky-image {
    position: sticky;
    top: 0.5rem;
    width: 100%;
  }

  .navbar-nav .nav-link.active:hover {
    transition: font-size 0.3s ease;
  }
  
  .navbar-nav .nav-link.active:hover {
    font-size: 1.5rem;
   
  }
  
  .navbar-nav .dropdown-menu {
    transition: font-size 0.3s ease;
  }
  
  .navbar-nav .dropdown:hover {
    font-size: 1.5rem;
   
  }
  
  .navbar-brand {
    text-align: center;
    transition: font-size 0.3s ease;
  }
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-brand:hover {
    font-size: 2rem; 
  }
